body {
  margin: 0;
  overflow-x: hidden;
}

.loader {
  text-align: center;
}

nav {
  border-bottom: 1px solid black;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  h1 {
    cursor: pointer;
  }
  ul {
    list-style: none;
    display: flex;
    gap: 15px;
    li {
      cursor: pointer;
    }:hover {
      text-decoration: underline;
    }:active {
      color: lime
    }
    a {
      color: black;
      text-decoration: none;
    }
  }
}

.artview-container{
  display: flex;
  height: 80vh;

  .art-selection{
    width: 50%;
    height: 100%;
    overflow-y: auto;
    .art-image{
      margin: 10px 0;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 10px;
      img {
        height: 200px;
        width: 150px;
      }:hover {
        cursor: pointer;
        box-shadow: 0px 0px 5px black;
      }:active {
        box-shadow: 0px 0px 1px black;
      }
    }

  }

  .art-view{
    width: 50%;
    background-color: grey;
    border: 1px solid black;
    box-shadow: 0px 0px 5px inset black;
    display: flex;
    justify-content: center;
    cursor: grab;
  }:active {
    cursor: grabbing;
  }
}